{% extends 'layouts/layout.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/public/css/home.css" />
{% endblock %}

{% block content %}
    <div class="col-3"></div>
    <div class="col-6">
        {% if isAuth and user.id == uId %}
            <h1>Welcome, {{ user.username }}!</h1>
        {% else %}
            <h1>Welcome to my test app!</h1>
        {% endif %}

        {% if isAuth and user.id == uId %}
            <!-- PROFILE SECTION -->
            <div id="section">
                <h2 id="show">Show user info ▾</h2>
                <div id="stats">
                    <p>
                        <i class='fas fa-user'></i> Username: {{ user.username }}
                    </p>
                    <hr>
                    <p>
                        <i class='fas fa-envelope'></i> Email: {{ user.email }}
                    </p>
                    <hr>
                    <p><i class='far fa-id-card'></i> User Id: {{ user.id }}</p>
                    <hr>
                    <p>
                        <i class='fas fa-calendar-check'></i>
                        Joined: {{ user.date }}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-3"></div>

{% endblock %}

{% block js %}
    <script src="/src/public/js/home.js"></script>
{% endblock %}
